# Dependencies
node_modules/
*/node_modules/

# Production builds
build/
dist/
*/build/
*/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
target/
*/target/

# Environment variables
.env
.env.local
*/.env

# Logs
*.log